@font-face {
    font-family: 'biaotifont';
    font-display: swap;
    src: url('https://npm.elemecdn.com/inju-tuku@1.0.4/fonts/REEJI-CHAO-BeiMingGBT-Flash.ttf') format("truetype");
  }
  .article-title {
    font-family: 'biaotifont';
  }